.header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.productList {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

